{% extends 'layout.html' %}
{% block body %}

<header class="masthead" style="background-image: url('{{ url_for('static', filename='assets/img/home-bg.jpg') }}')">
  <div class="container">
    <h1>Add / Edit Post</h1>
  </div>
</header>

<div class="container mt-4">

  <a href="/dashboard" class="btn btn-primary">Dashboard</a>
  <a href="/logout" class="btn btn-danger">Logout</a>

  <hr>

  <form action="/edit/{{sno}}" method="POST">

    <input type="text" name="title" class="form-control" placeholder="Title" value="{{post.title}}"><br>

    <input type="text" name="tline" class="form-control" placeholder="Tagline" value="{{post.tagline}}"><br>

    <input type="text" name="slug" class="form-control" placeholder="Slug" value="{{post.slug}}"><br>

    <textarea name="content" class="form-control" placeholder="Content" rows="5">{{post.content}}</textarea><br>

    <input type="text" name="img_file" class="form-control" placeholder="Image file" value="{{post.img_file}}"><br>

    <button type="submit" class="btn btn-success">Save Post</button>

  </form>

</div>

{% endblock %}
